{% extends 'base.html.twig' %}

{% block title %}  TITAN-Admin   {% endblock %}


{% block container %}

    <br>
    <br><br>
    <br>
    <p style="font-style: normal;font-family: Andalus ;font-size: 90pt ;text-align: center">  Welcome! <img src="{{ asset('uploads/welcome/icon.png') }} " style="text-align: center ; width: 4cm"> </p>
    <h2 style="font-style: normal;font-family: Andalus  ;text-align: center;font-size: 20pt ">{{ app.user.username }}</h2>
    <p style="font-style: normal;font-family: Andalus ;font-size: 50pt ;text-align: center">  To </p>
    <p style="font-style: normal;font-family: Andalus ;font-size: 50pt ;text-align: center">  TITAN Website </p>



{% endblock %}
