{% extends 'base.html.twig' %}



{% block container %}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Titan</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Calendar</a></li>

                            <li class="breadcrumb-item active">New Meeting</li>
                        </ol>
                    </div>
                    <h4 class="page-title">New Meeting</h4>
                </div>
            </div>
        </div>


        <div class="card" style="width: 56%;  margin-left: 300px">

            <div class="col-md-11 swMain">
                <div class="row">
                    <div  class="col-md-12">
                        <fieldset style="margin-left: 40px">
                            <legend>
                                <h2 class="section-title" style="margin-left: 200px">Edit Meeting</h2>


                            </legend>
                            {{ include('@Meeting/Meeting/formM.html.twig') }}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}